@using LuvFinder_Blazor_WASM.Services;
@using LuvFinder_ViewModels;
@inject IBlogService BlogService
@inject IAuthenticationService AuthenticationService

@if (SelectedBlogID == NO_BLOG_SELECTED && SelectedEditBlogID == NO_BLOG_SELECTED && !NewBlogView)
{
    @if (UserName == AuthenticationService.User.UserName)
    {
        <button class="lab-btn btn-sm " style="margin-bottom:10px;" @onclick="()=>ShowNewBlogView(true)">Create new Blog</button>
    }
    <BlogList  Loaded="@Loaded" Blogs="@Blogs"
        SetSelectedEditBlogID="@SetSelectedEditBlogID"
    SetSelectedBlogID="@SetSelectedBlogID"></BlogList>
}
else if (NewBlogView)
{
    <AddBlog ShowNewBlogView="@ShowNewBlogView"></AddBlog>
}
else if (SelectedBlogID != NO_BLOG_SELECTED)
{
    var blog = @Blogs.Where(b => b.ID == SelectedBlogID).SingleOrDefault();
    <FullBlog 
        No_Blog_Selected="NO_BLOG_SELECTED"
        SetSelectedBlogID="@SetSelectedBlogID"  
        Blog="@blog"></FullBlog>
}
else if (SelectedEditBlogID != NO_BLOG_SELECTED)
{
    var blog = @Blogs.Where(b => b.ID == SelectedEditBlogID).SingleOrDefault();
    <EditBlog No_Blog_Selected="NO_BLOG_SELECTED"
              SetSelectedEditBlogID="@SetSelectedEditBlogID"
              Blog="@blog"
            ></EditBlog>
}

@code {

    [CascadingParameter(Name = "UserName")]
    public string UserName { get; set; } = string.Empty;

    public List<LuvFinder_ViewModels.Blog> Blogs { get; set; } = new List<LuvFinder_ViewModels.Blog>();

    public bool Loaded { get; set; }
    public string Error { get; set; } = string.Empty;

    private const int NO_BLOG_SELECTED = -1;

    public int SelectedBlogID { get; set; } = NO_BLOG_SELECTED;
    public void SetSelectedBlogID(int blogID)
    {
        SelectedBlogID = blogID;
    }

    public int SelectedEditBlogID { get; set; } = NO_BLOG_SELECTED;
    public void SetSelectedEditBlogID(int blogID)
    {
        SelectedEditBlogID = blogID;
    }

    private bool  NewBlogView{ get; set; }
    private void ShowNewBlogView(bool show)
    {
        NewBlogView = show;
    }

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            if (!string.IsNullOrEmpty(UserName))
            {
                Blogs = await BlogService.Blogs(UserName);
                Loaded = true;
            }
        }
        catch (Exception exc)
        {
            Error = exc.Message;
        }
    }
}
