@using LuvFinder_Blazor_WASM.Services;
@using LuvFinder_ViewModels;
@inject IAuthenticationService AuthenticationService


<div class="container blog-section padding-tb">
    <div class="main-blog">
        <div class="row">
            <div class="col-12">
                <div class="blog-wrapper">
                    <div class="post-item blog-item">
                        <div class="post-item-inner">
                            <div class="post-thumb">
                                <a href="blog-single.html"><img src="@Blog.Image" alt="blog" /></a>
                            </div>
                            <div class="post-content fullblog-container">
                                <span class=" ">
                                    By <NavLink class="post-by" href="@($"viewprofile/{Blog.user.UserName}")">@Blog.user.FirstName @Blog.user.LastName (@Blog.user.Age)</NavLink> at <span class="posted-on">{@Blog.CreateDate.Value.ToString("dd MMM yyyy hh:mm:ss:tt")}</span>
                                </span>
                                <h1>@Blog.Title</h1>
                                <p>@Blog.Body</p>
                            </div>
                            <div class="blog-footer">
                                <div class="right">
                                    <div class="go-back-container" onclick="@(() => SetSelectedBlogID.InvokeAsync(No_Blog_Selected))">
                                        <i class='fas fa-arrow-left'></i>
                                        <a>Go Back</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <BlogComments Blog="@Blog"></BlogComments>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public LuvFinder_ViewModels.Blog Blog { get; set; }

    [Parameter]
    public int No_Blog_Selected { get; set; }

    [Parameter]
    public EventCallback<int> SetSelectedBlogID { get; set; }
}
