@page "/editprofile"
@using LuvFinder_Blazor_WASM.Services;
@using LuvFinder_ViewModels;
@inject IProfileService ProfileService
@inject IAuthenticationService AuthenticationService

<section class="profile-section padding-tb" style="padding-top:12%;">
    <div class="container">
        <div class="section-wrapper">
            <div class="member-profile">
                <BannerInfo UserInfo="@UserInfo"></BannerInfo>
                <div class="profile-details">
                    <nav class="profile-nav">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link " id="nav-ativity-tab" data-bs-toggle="tab"
                                    data-bs-target="#activity" type="button" role="tab" aria-controls="activity"
                                    aria-selected="true">
                                Activity
                            </button>
                            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                    aria-selected="true">
                                Profile
                            </button>
                            <BlogCount UserName="@AuthenticationService.User.UserName"></BlogCount>
                            <FriendCount UserName="@AuthenticationService.User.UserName"></FriendCount>
                            <ChatCount UserName="@AuthenticationService.User.UserName"></ChatCount>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        @*  Activity tab  *@
                        <div class="tab-pane activity-page fade" id="activity" role="tabpanel">
                            <ActivityFriends UserName="@AuthenticationService.User.UserName"></ActivityFriends>
                        </div>
                        @*  Activity tab  *@
                        @* Profile tab  *@
                        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row">
                                <div class="col-xl-8">
                                    <article>
                                        <EditProfileInfo UserName="@AuthenticationService.User.UserName"></EditProfileInfo>
                                    </article>
                                </div>
                                @* {/* Aside Part */} *@
                                <div class="col-xl-4">
                                    <div>Aside Search</div>
                                </div>
                            </div>
                        </div>
                        @* Profile tab  *@
                        @* Blog tab *@
                        <div class="tab-pane fade" id="blogs" role="tabpanel" aria-labelledby="nav-blogs-tab">
                            <div class="container blog-section">
                                <div class="main-blog">
                                    <div class="row">
                                        <div class="col-lg-8 col-12">
                                            <CascadingValue Name="ShowEditButton" Value="AuthenticationService.User != null">
                                                <CascadingValue Name="UserName" Value="AuthenticationService.User.UserName">
                                                    <BlogView></BlogView>
                                                </CascadingValue>
                                            </CascadingValue>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div>Aside Search</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Blog tab *@
                        @* Frinds Tab *@
                        <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="nav-friends-tab">
                            <FriendProfiles UserName="@AuthenticationService.User.UserName"></FriendProfiles>
                        </div>
                        @*  Frinds Tab *@
                        @*   Messages Tab   *@
                        <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="nav-messages-tab">
                            <div class="row">
                                <div class="col-12">
                                    <article>
                                        <div class="row gy-3">
                                            <div class="group-item lab-item style-1">
                                                <div class="lab-inner align-items-center p-4">
                                                    <ChatContainer></ChatContainer>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        @*  Messages Tab   *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="highlight-error">@Error</div>

@code {
    
    private UserInfo UserInfo { get; set; }
    public string Error { get; set; }
    
    protected async override Task OnInitializedAsync()
    {
        try
        {
            UserInfo = await ProfileService.UserInfo(AuthenticationService.User.UserName);
        }
        catch (Exception exc)
        {
            Error = exc.Message;
            StateHasChanged();
        }
    }
}
