@using LuvFinder_Blazor_WASM.Services;
@using LuvFinder_ViewModels;
@inject IProfileService ProfileService
 


<div class="info-card mb-20">
    <div class="info-card-title">
        <h6>Base Info</h6>
    </div>
    <div class="info-card-content profile-form">
        <ul class="info-list">
            <li>
                <p class="info-name">First Name</p>
                <p class="info-details">
                    <input @bind="@UserInfo.FirstName" type="text"></input>
                </p>
            </li>
            <li>
                <p class="info-name">Last Name</p>
                <p class="info-details">
                    <input @bind="@UserInfo.LastName" type="text"></input>
                </p>
            </li>
            <li>
                <p class="info-name">I'm a</p>
                <p class="info-details">
                    <select 
                        @bind="@UserInfo.GenderID"
                        id="user-gender">
                        @foreach(var Gender in Genders)
                        {
                            <option value="@Gender.Id">@Gender.Name</option>
                        }
                    </select>
                </p>
            </li>
            <li>
                <p class="info-name">Loking for a</p>
                <p class="info-details">
                    <select @bind="@UserInfo.SeekingGenderID"
                        id="seeking-gender">
                        @foreach (var Gender in Genders)
                        {
                            <option value="@Gender.Id">@Gender.Name</option>
                        }
                    </select>
                </p>
            </li>
            <li>
                <p class="info-name">Marital Status</p>
                <p class="info-details">
                    <select @bind="@UserInfo.MaritalStatusID"
                        id="user-maritalstatus">
                        @foreach (var status in MaritalStatuses)
                        {
                            <option value="@status.Id">@status.Name</option>
                        }
                    </select>
                </p>
            </li>
            <li>
                <p class="info-name">Date of Birth</p>
                <div class="info-details">
                    <div class="calender-container">
                        <MudDatePicker Label="" @bind-Date="@UserInfo.DOB" DisableToolbar="true" />
                    </div>
                </div>
            </li>
            <li>
                <LocationLocatorProfile UserInfo=@UserInfo></LocationLocatorProfile>
            </li>
        </ul>
    </div>
</div>


@code {

    [Parameter]
    public UserInfo UserInfo { get; set; } = new UserInfo();

    List<Gender> Genders { get; set; } = new List<Gender>();

    List<MaritalStatus> MaritalStatuses { get; set; } = new List<MaritalStatus>();


    protected async override Task OnParametersSetAsync()
    {
        Genders = await ProfileService.GetGenders();
        MaritalStatuses = await ProfileService.GetMaritalStatuses();
    
    }
}
